<section>
  <div>
    <a class="add-new-btn" href="#!/addEmployee">Add New Employee</a>
  </div>

  <div>
    <h2>Employee Dashboard</h2>

    <button ng-click="loadEmployees()">Reload Employees</button>

    <p ng-if="loading">Loading...</p>
  </div>

  <div>
    <table border="1">
      <thead>
        <tr>
          <th>Employee Code</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Salary</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="employee in employees">
          <td>{{employee.employeeCode}}</td>
          <td>{{employee.employeeName}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.salary}}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              ng-click="viewEmployeeByCode(employee.employeeCode)"
            >
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
