<section>
  <div>
    <h2>Employee List</h2>

    <p>{{message}}</p>

    <button ng-click="loadEmployees()">Load Employees</button>
    <p ng-if="loading">Loading...</p>
  </div>

  <div>
    <table border="1">
      <thead>
        <tr>
          <th>Employee Code</th>
          <th>Employee Name</th>
          <th>Designation</th>
          <th>Joining Date</th>
          <th>Mobile Number</th>
          <th>Salary</th>

          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="employee in employees">
          <td>{{employee.employeeCode}}</td>
          <td>{{employee.employeeName}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.joiningDate | date:'yyyy-MM-dd'}}</td>
          <td>{{employee.mobileNumber}}</td>
          <td>{{employee.salary}}</td>

          <td><button ng-click="editEmployee(employee)">Edit</button></td>
          <td><button ng-click="deleteEmployee(employee)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
